@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body, html, #root {
  font-family: 'Montserrat', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/img/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}
